.header {
    background-image: url(../../public/head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    Link {
        h1 {
            text-decoration: none;
            color: white;
        }
        
    }
    
    img {
        height: 100%;
    }
    .rigth {
        border: solid 5px green;
        display:inline;
    }
}