.header {
    background-color: #f47521;
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 100%;
    }
    .rigth {
        border: solid 5px green;
        display:inline;

    }
}